<header class="w-full gap-[5rem] flex items-center bg-slate-300 px-[6rem] py-[1.5rem]">
        <div>logo</div>
        <nav class="flex gap-4">
            <button>test1</button>
            <button>test2</button>
            <button>test3</button>
            <button>test4</button>
            <button>test5</button>
        </nav>
        <input class="flex-1 rounded-full bg-slate-300 border-2">
        <ul class="flex gap-3">
            <li>icon1</li>
            <li>icon2</li>
        </ul>
</header>