<article class="common-button">
    <p>Upload Button</p>
    <figure>
        <!-- 인풋이 있긴하지만 디스플레이상 숨겨놓음 -->
        <button (click)="onUpload()" type="file">
          <ng-content></ng-content>
        </button>
        <input #fileInput (change)="onFileSelected($event)" type="file" style="display: none;">
        
        <div class="file-upload-container">
            @if (fileContent()) {
                @if (fileType()!.startsWith('image/')) {
                  <img [src]="fileContent()" class="w-[80px]" />
                } @else {
                  <pre>{{ fileContent() }}</pre>
                }
              }
        </div>
    </figure>
</article>