<button (click)="onUpload()" type="file">
  <ng-content></ng-content>
</button>
<input #fileInput (change)="onFileSelected($event)" type="file" style="display: none;">

<div class="file-upload-container">
  @if (fileContent()) {
  @if (fileType()!.startsWith('image/')) {
  <img [src]="fileContent()" class="w-[80px]" />
  <remove-btn (click)="removeFile()"></remove-btn>
  }
  @else {
  <pre>{{ fileContent() }}</pre>
  <remove-btn (click)="removeFile()"></remove-btn>
  }
  }@else {
  <div class="empty"></div>
  }
</div>