.file-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%)
}

pre {
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
  white-space: pre-wrap;
}
.empty {
 display: none;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
